<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <app-navbar></app-navbar>
    <h1 style="margin-bottom:20px;margin-top:20px;color:rgb(175, 175, 175)" class="text-center">The Salah Website Project By: </h1>
    <h3 style="margin-bottom:50px;color:rgb(175, 175, 175)" class="text-center">Boubacar Thiam</h3>
    <p style="font-size:1px;" class="text-center">MALIK BEARD</p>
    <div style="border:4px solid black; border-radius:10px; padding:20px; background-color:rgb(212, 212, 212);">
    <h4 class="text-center">Prayer Times</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Prayer</th>
                <th scope="col">Time</th>
            </tr>
        </thead>
        <tbody>
    <ng-container *ngFor="let prayer of prayers; let i = index">
        <ng-container *ngIf="i < prayers.length - 1 && isTimeBetween(prayer.time, prayers[i + 1].time!, currTimeHrMin)">
            <tr class="table-success">
                <td>{{prayer.name}}</td>
                <td>{{prayer.time}}</td>
            </tr>
        </ng-container>
        <ng-container *ngIf="i >= prayers.length - 1 || !isTimeBetween(prayer.time, prayers[i + 1]?.time!, currTimeHrMin)">
            <tr>
                <td>{{prayer.name}}</td>
                <td>{{prayer.time}}</td>
            </tr>
        </ng-container>
    </ng-container>
</tbody>
        </table>
        <div class="calendar-container">
  <div style="padding: 20px;">
    <h1>Hijri Calendar</h1>
    <app-hijri-calendar style="position:relative; right:30px;"></app-hijri-calendar>
  </div>
</div>
</div>
        <div style="border:4px solid black; border-radius:10px; padding:20px; background-color:rgb(212, 212, 212); margin-top:20px;">
            <h4 class="text-center">General Details</h4>
        <h6 class="text-center">Location: <br> {{location}}</h6>
        <h6 class="text-center">Current Time: <br> {{currTime}}</h6>
        </div>
</body>
</html>
