<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Fajr Prayer</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    </head>
    <body>
        <app-navbar></app-navbar>
        <h1 class="text-center display-1" style="font-weight:bold;">Maghrib Prayer</h1>
        <hr id="breaker">
        <h4 class="text-center">Maghrib is a prayer that has 2 sets, and within those 2 sets, are 3 Fard, and 2 Nafl</h4>
        <div *ngFor="let set of setsAmount">
            <button 
            class="btn btn-warning" 
            type="button" 
            data-bs-toggle="collapse" 
            [attr.data-bs-target]="set.c"
            aria-expanded="false" 
            aria-controls="collapseContent">
        Collapse Set {{set.set}}
        </button> 
            <div style="background-color:rgb(212, 212, 212); margin: 20px; padding: 20px; border: 2px solid black; border-radius: 10px;">
            <div id="set1">
            <h2 style="margin-bottom:20px;" class="text-center display-2">Set {{set.set}} of Maghrib ({{set.prayer}})</h2>
            <div id="collapseContent{{set.set}}" class="collapse">
                <div *ngFor="let step of stepsOfSalah" class="step text-center">
                   <div *ngIf="step.step <= set.units">
                     <h3 class="text-center">Step Number #{{step.step}}</h3>
                    <p class="text-center">{{step.action}}</p>
                    <div style="border:2px solid black;" *ngIf="step.recitation" id="recitations">
                        <p *ngFor="let recitation of step.recitation">
                             <span style="font-weight:bold;" class="text-center">{{recitation}}</span>
                        </p>
                    </div>
                   </div>
                </div>
            </div>
        </div>
        
        </div>
        </div>
    </body>
</html>